@mixin item {
    width: 300px;
    height: 50px;
    padding: 0px 10px;
    margin: 10px 100px;
    align-items: center;
    border-radius: 4px;
}
.todo-item {
    @include item;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 4px 0px #87bae4;
}
.input-text {
    // @include item;
    @include item;
    border-style: none;
    border: 1px solid #7e8081;
}
.add-btn {
    background-color: #40A9FF;
    color: white;
    font-size: 16px;
    border-style: none;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    position: relative;
    right: 90px;
}
.input-todo {
    margin-top: 100px;
    margin-bottom: 30px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    height: 50px;
}
.edit-icon {
    color: rgb(17, 85, 233);
    margin-right: 15px;
}
.delete-icon {
    color: rgb(192, 24, 24);
}
.search-box {
    width: 500px;
    height: 50px;
    border: 1px solid #7e8081;
    border-radius: 4px;
    margin: 20px;
    align-items: center;
}
.icon-search {
    font-size: 20px;
    color: #7e8081;
    float: right;
}
.search-btn {
    width: 100px;
    height: 50px;
}