.add-btn {
    background-color: #40A9FF;
    color: white;
    font-size: 16px;
    border-style: none;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    position: relative;
    right: 90px;
}